@import "../../styles/varibles";
.landing{
    width: 100vw;
  background-color: $white;
  font-family: "medium";
}
.landing__header{
position: relative;
  height: 80vh;
    //background-image: linear-gradient(to bottom right, $blue, $blue-black);
    background-image: url("https://i.picsum.photos/id/1042/1920/1000.jpg");
    background-size: cover;
    z-index: 1;

  .header__text{
        font-size: 6em;
        position: absolute;
        color: $white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.info{
  text-align: center;
  margin-top: 100px;

  &__text{
    width: 50%;
    text-align: center;
    margin: 0 auto;

    @media (max-width: $md) {
      width: 80%;

  }

  }
}

.cards{
    margin: 100px auto 0 ;
    width: 90%;
    overflow-x: auto;

  &:first-child{
    margin: 0;
    background-color: red;
  }
}