$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

@font-face {
  font-family: "standard";
  src: url('../assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: "medium";
  src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: "semi-bold";
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: "bold";
  src: url('../assets/fonts/Poppins-Bold.ttf');
}
@mixin header-font {
  font-size: 2.5em;
  font-family: "bold";
  letter-spacing: 10px;
}

@mixin small-caption {
  font-size: 0.8em;
  font-family: "bold";
  letter-spacing: 5px;
}

@mixin body-text {
  font-size: 1em;
  font-family: "regular";
  letter-spacing: 3px;
}