@import "../../styles/varibles";

.cards__container{
  display: flex;

}

.card__artist{
  margin: 3em 1em ;
  border-radius:5px;
  background-color: $grey;
  color: $white;
  padding:1em;
  font-family: "medium";

  &:first-child{
    margin: 3em 1em 3em 0 ;
  }

  img{
  width: 400px;
    height: 400px;
  border-radius:5px;

    @media( max-width: $md) {
      width: 300px;
      height: 300px;
    }
  }
  //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}